{% extends 'base.html.twig' %}

{% block title %}Contact{% endblock %}

{% block body %}
<!--<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>-->

<div>
    {{ form_start(contact_form)}}
    {{ form_row(contact_form.name, {'label': 'Nom d\'utilisateur',
          'attr': {'class': 'input-group', 'placeholder': 'Votre nom d\'utilisateur'}}) }}
    {{ form_row(contact_form.from, {'label': 'Adresse Email',
          'attr': {'class': 'input-group', 'placeholder': 'Votre adresse Email'}}) }}
    {{ form_row(contact_form.message, {'label': 'Message',
          'attr': {'class': 'input-group', 'placeholder': 'Saisissez votre message'}}) }}

    <input type="submit" value="Envoyer" class="btn btn-success" />

    {{ form_end(contact_form)}}
</div>
{% endblock %}
